<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="http://47.106.245.68/bs/css/font.css">
    <link rel="stylesheet" href="http://47.106.245.68/bs/css/index.css">
    <script src="http://47.106.245.68/bs/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="http://47.106.245.68/bs/js/index.js"></script>
</head>
<body>
    <h1>发货后台管理系统</h1>
    <div class="layui-card-body layui-table-body layui-table-main">
    <table class="layui-table layui-form">
        <thead>
            <tr>
                <th>订单ID</th>
                <th>用户ID</th>
                <th>书名</th>
                <th>购买时间</th>
                <th>发货位置</th>
                <th>操作</th>
                <!-- <th>操作2</th> -->
            </tr>
        </thead>
        <tbody>
            <% for(let i = 0 ; i < data.length ; i ++){ %>
            <tr>
                <td><%= data[i].pageid %></td>
                <td><%= data[i].userid %></td>
                <td><%= data[i].bookname %></td>
                <td><%= data[i].buy_date %></td>
                <td><%= data[i].buy_where %></td>
                <td>
                    <form method="POST" action="/buying/delsend">
                        <input type="hidden" name="del" value="<%= data[i]._id %>" />
                        <button type="submit" id="delete">我已发货</button>
                      </form>
                </td>
            
            </tr>
            <% } %>
        </tbody>
    </table>
    <form method="POST" action="/buying/findsend">
        <input type="text" name="pageid" onkeyup="value=value.replace(/[^1234567890-]+/g,'')"/>
        <button type="submit" id="delete">通过ID查询</button>
      </form>
</div>
</body>
</html>