<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="static/css/pub.css">
    <link rel="stylesheet" href="static/css/html.css">
    <link rel="stylesheet" href="static/css/swiper-bundle.min.css">
</head>
<body>
    <div class="viewport">
        <div class="header">
            <div class="outer">
                <div class="one qian"><a href="">1</a></div>
                <div class="one hou"><a href="/news">6</a></div>
                <div class="one zuo"><a href="/max">2</a></div>
                <div class="one you"><a href="/ebook">5</a></div>
                <div class="one shang"><a href="/me">3</a></div>
                <div class="one xia"><a href="/help">4</a></div>
            </div>
            <h1><%= title %></h1>
        </div>
        <div class="daohang">
            <table>
                <tr>
                    <td class="daohangone"><a href="/">首页</a></td>
                    <td class="daohangtwo"><a href="/news">新品推荐</a></td>
                    <td class="daohangone"><a href="/max">特色书店</a></td>
                    <td class="daohangtwo"><a href="/ebook">数字内容</a></td>
                    <td class="daohangone"><a href="/me">我的</a></td>
                    <td class="daohangtwo"><a href="/help">售后服务</a></td>
                </tr>
            </table>
        </div>

        <div class="top_item">
            <div class="top_item_left">
                <div class="top_item_left_top"><h4>图书分类</h4></div>
                <div class="top_item_left_top_table">
                    <li class="top_item_left_top_table_li">
                        <h3>特色分类</h3>
                        <p>
                            <a href="" class="top_item_left_top_table_a">畅销榜</a>
                            <a href="" class="top_item_left_top_table_a">99元10件</a>
                        </p>
                        <div class="top_item_left_top_table_li_windows"></div>
                    </li>
                    <li class="top_item_left_top_table_li">
                        <h3>文学综合馆</h3>
                        <p>
                            <a href="" class="top_item_left_top_table_a">小说</a>
                            <a href="" class="top_item_left_top_table_a">文学</a>
                            <a href="" class="top_item_left_top_table_a">传记</a>
                            <a href="" class="top_item_left_top_table_a">青春</a>
                            <a href="" class="top_item_left_top_table_a">动漫</a>
                        </p>
                        <p>
                            <a href="" class="top_item_left_top_table_a">科幻</a>
                            <a href="" class="top_item_left_top_table_a">悬疑</a>
                            <a href="" class="top_item_left_top_table_a">散文</a>
                            <a href="" class="top_item_left_top_table_a">纪实</a>
                            <a href="" class="top_item_left_top_table_a">惊悚</a>
                        </p>
                    </li>
                    <li class="top_item_left_top_table_li">
                        <h3>童书馆</h3>
                        <p>
                            <a href="" class="top_item_left_top_table_a">科普百科</a>
                            <a href="" class="top_item_left_top_table_a">儿童文学</a>
                            <a href="" class="top_item_left_top_table_a">幼儿启蒙</a>
                        </p>
                        <p>
                            <a href="" class="top_item_left_top_table_a">动漫卡通</a>
                            <a href="" class="top_item_left_top_table_a">少儿英语</a>
                            <a href="" class="top_item_left_top_table_a">益智游戏</a>
                        </p>
                    </li>
                    <li class="top_item_left_top_table_li">
                        <h3>教育馆</h3>
                        <p>
                            <a href="" class="top_item_left_top_table_a">中小教辅</a>
                            <a href="" class="top_item_left_top_table_a">外语学习</a>
                            <a href="" class="top_item_left_top_table_a">考试</a>
                            <a href="" class="top_item_left_top_table_a">教材</a>
                        </p>
                        <p>
                            <a href="" class="top_item_left_top_table_a">字典词典</a>
                            <a href="" class="top_item_left_top_table_a">课外读物</a>
                            <a href="" class="top_item_left_top_table_a">字帖</a>
                            <a href="" class="top_item_left_top_table_a">考研</a>
                        </p>
                        <p>
                            <a href="" class="top_item_left_top_table_a">初级会计</a>
                            <a href="" class="top_item_left_top_table_a">教师资格</a>
                            <a href="" class="top_item_left_top_table_a">二建</a>
                            <a href="" class="top_item_left_top_table_a">四六</a>
                        </p>
                    </li>
                    <li class="top_item_left_top_table_li">
                        <h3>人文社科馆</h3>
                        <p>
                            <a href="" class="top_item_left_top_table_a">政治军事</a>
                            <a href="" class="top_item_left_top_table_a">国文古籍</a>
                            <a href="" class="top_item_left_top_table_a">历史</a>
                            <a href="" class="top_item_left_top_table_a">心理</a>
                        </p>
                        <p>
                            <a href="" class="top_item_left_top_table_a">哲学宗教</a>
                            <a href="" class="top_item_left_top_table_a">社会科学</a>
                            <a href="" class="top_item_left_top_table_a">文化</a>
                            <a href="" class="top_item_left_top_table_a">法律</a>
                        </p>
                    </li>
                    <li class="top_item_left_top_table_li">
                        <h3>经管综合馆</h3>
                        <p>
                            <a href="" class="top_item_left_top_table_a">管理</a>
                            <a href="" class="top_item_left_top_table_a">经济</a>
                            <a href="" class="top_item_left_top_table_a">投资</a>
                            <a href="" class="top_item_left_top_table_a">会计</a>
                            <a href="" class="top_item_left_top_table_a">营销</a>
                        </p>
                    </li>
                    <li class="top_item_left_top_table_li">
                        <h3>生活馆</h3>
                        <p>
                            <a href="" class="top_item_left_top_table_a">孕产胎教</a>
                            <a href="" class="top_item_left_top_table_a">育儿家教</a>
                            <a href="" class="top_item_left_top_table_a">美食</a>
                            <a href="" class="top_item_left_top_table_a">家居</a>
                        </p>
                        <p>
                            <a href="" class="top_item_left_top_table_a">健身保健</a>
                            <a href="" class="top_item_left_top_table_a">旅游指北</a>
                            <a href="" class="top_item_left_top_table_a">美妆</a>
                            <a href="" class="top_item_left_top_table_a">体育</a>
                        </p>
                        <p>
                            <a href="" class="top_item_left_top_table_a">休闲娱乐</a>
                            <a href="" class="top_item_left_top_table_a">婚恋两性</a>
                            <a href="" class="top_item_left_top_table_a">手工DIY</a>
                        </p>
                    </li>
                    <li class="top_item_left_top_table_li">
                        <h3>原版书</h3>
                        <p>
                            <a href="" class="top_item_left_top_table_a">英文原版</a>
                            <a href="" class="top_item_left_top_table_a">港台原版</a>
                            <a href="" class="top_item_left_top_table_a">日文原版</a>
                        </p>
                    </li>
                </div>
                <div class="top_item_left_end"><a href=""><h3 style="color: #fff;">全部图书分类</h3></a></div>
            </div>

            <div class="top_item_cover_picture">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><a href=""><img src="<%= data[1].img_url %> " alt="" class="top_item_cover_picture_img"></a></div>
                        <div class="swiper-slide"><a href=""><img src="<%= data[2].img_url %> " alt="" class="top_item_cover_picture_img"></a></div>
                        <div class="swiper-slide"><a href=""><img src="<%= data[0].img_url %>" alt="" class="top_item_cover_picture_img"></a></div>
                    </div>
                    <!-- 如果需要分页器 -->
                    <div class="swiper-pagination"></div>
                    
                    <!-- 如果需要导航按钮 -->
                    <!-- <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div> -->
                    
                    <!-- 如果需要滚动条 -->
                    <!-- <div class="swiper-scrollbar"></div> -->
                </div>
            </div>

            <div class="top_item_cover_right">
                <div class="top_item_cover_right_top">
                    <h3> Hi~欢迎光临网上书店</h3>

            
                        <p>
                        <a href="/login">登陆</a>
                        <a href="/join">注册</a>
                        </p>
                     
                    
                    <div class="top_item_cover_right_top_left"><a href="">新人福利</a>
                    </div>
                    <div class="top_item_cover_right_top_right"><a href="">邀请有礼</a></div>
                </div>
                <div class="top_item_cover_right_body">
                    <h3>今日热销图书</h3>
                    <% for(let i = 0 ; i < data2.length ; i ++){ %>
                        <p>1.<a href="/searchbook?keywords=<%= data2[i].bookname%>"><%= data2[i].bookname %></a></p>
                    <% } %> 
                </div>
            </div>

            <div class="top_item_newbook">
                <div class="top_item_newbook_title">
                    <h2>新书推荐</h2>
                </div>
                <div class="top_item_newbook_item">
                    <img src="http://47.106.245.68/image/bookshop/page/1.jpg" alt="" class="top_item_newbook_item_jpg">
                </div>
                <div class="top_item_newbook_item">
                    <img src="http://47.106.245.68/image/bookshop/page/2.jpg" alt="" class="top_item_newbook_item_jpg">
                </div>
                <div class="top_item_newbook_item">
                    <img src="http://47.106.245.68/image/bookshop/page/3.jpg" alt="" class="top_item_newbook_item_jpg">
                </div>
                <div class="top_item_newbook_item">
                    <img src="http://47.106.245.68/image/bookshop/page/4.jpg" alt="" class="top_item_newbook_item_jpg">
                </div>
                <div class="top_item_newbook_item"> 
                    <img src="http://47.106.245.68/image/bookshop/page/5.jpg" alt="" class="top_item_newbook_item_jpg">
                </div>
            </div>

            <div class="top_item_day_up">
                <div class="top_item_day_up_title">
                    <h2>每日推荐</h2>
                </div>
                <div class="top_item_day_up_item">
                    <img src="http://47.106.245.68/image/bookshop/page/6.jpg" alt="" class="top_item_newbook_item_jpg">
                </div>
                <div class="top_item_day_up_item">
                    <img src="http://47.106.245.68/image/bookshop/page/7.jpg" alt="" class="top_item_newbook_item_jpg">
                </div>
                <div class="top_item_day_up_item">
                    <img src="http://47.106.245.68/image/bookshop/page/8.jpg" alt="" class="top_item_newbook_item_jpg">
                </div>
                <div class="top_item_day_up_item">
                    <img src="http://47.106.245.68/image/bookshop/page/9.jpg" alt="" class="top_item_newbook_item_jpg">
                </div>
                <div class="top_item_day_up_item">
                    <img src="http://47.106.245.68/image/bookshop/page/10.jpg" alt="" class="top_item_newbook_item_jpg">
                </div>
            </div>
        </div>

        <div class="endpage">
            <center>毕业设计：网上书店</center>
        </div>
</div>

    <script src="static/js/swiper-bundle.min.js"></script>
    <script src="static/js/index.js"></script>
    <script>        
        var mySwiper = new Swiper ('.swiper-container', {
          direction: 'horizontal',
          loop: true,
          
          // 如果需要分页器
          pagination: {
            el: '.swiper-pagination',
          },
          
          // 如果需要前进后退按钮
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
          
        })        
        
        </script>
</body>
</html>