<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="http://47.106.245.68/bs/css/font.css">
    <link rel="stylesheet" href="http://47.106.245.68/bs/css/index.css">
    <script src="http://47.106.245.68/bs/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="http://47.106.245.68/bs/js/index.js"></script>
</head>
<body>
    <h1>图片展示后台管理系统</h1>
    <div class="layui-card-body layui-table-body layui-table-main">
    <table  class="layui-table layui-form"> 
        <thead>
            <tr>
                <th>id</th>
                <th>图片名称</th>
                <th>图片地址</th>
                <th>操作</th>

            </tr>
        </thead>
        <tbody>
            <% for(let i = 0 ; i < data.length ; i ++){ %>
            <tr>
                <td><%= data[i].id %>
                    <form method="POST" action="/swiperbase/update">
                        <input type="hidden" name="_id" value="<%= data[i]._id %>" />
                        <input type="hidden" name="img_name" value="<%= data[i].img_name %>" />
                        <input type="hidden" name="img_url" value="<%= data[i].img_url %>" />
                        <input type="text" name="id">
                        <button type="submit" id="delete">更新</button>
                      </form>
                </td>
                <td><%= data[i].img_name %>
                    <form method="POST" action="/swiperbase/update">
                        <input type="hidden" name="_id" value="<%= data[i]._id %>" />
                        <input type="hidden" name="id" value="<%= data[i].id %>" />
                        <input type="hidden" name="img_url" value="<%= data[i].img_url %>" />
                        <input type="text" name="img_name">
                        <button type="submit" id="delete">更新</button>
                      </form>
                </td>
                <td><%= data[i].img_url %>
                    <form method="POST" action="/swiperbase/update">
                        <input type="hidden" name="_id" value="<%= data[i]._id %>" />
                        <input type="hidden" name="id" value="<%= data[i].id %>" />
                        <input type="hidden" name="img_name" value="<%= data[i].img_name %>" />
                        <input type="text" name="img_url">
                        <button type="submit" id="delete">更新</button>
                      </form>
                </td>

                <td>
                    <form method="POST" action="/swiperbase/del">
                        <input type="hidden" name="del" value="<%= data[i]._id %>" />
                        <button type="submit" id="delete">删除</button>
                      </form>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table></div>
    <a href="swiperbase/swiperadd">添加数据</a>
</body>
</html>